body {
    margin: 0;
    padding: 0;
    font-family: "Arial";
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0px 15px;
}

.title-js {
    background-color: green;
    display: inline-block;
    color: white;
    width: 40px;
    height: 20px;
    text-align: center;
    position: absolute;
    top: -20px;
    right: -30px;
    font-size: 15px;
} 

.title-js::after {
    content: "";
}

div {
    position: relative;
}



/* header */

header {
    padding-top: 2% !important;
}

header img {
    vertical-align: middle
}

header ul {
    padding-left: 0;
    list-style: none;
    margin: 0;
}


/* main-header */

.main-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid #d4d4d4;
}

.main-header li {
    display: inline-block;
}

.main-header ul:first-child li {
    margin-right: 20px;
}

.main-header ul:last-child li {
    margin-left: 20px;
}


.main-header button {
    /font-size: 0;
    border: 0px;
    background-color: transparent;
    font-size: 0;
    width: 30px;
    height: 30px;
        outline: 1px solid red;
    position: relative;
    cursor: pointer;
    
    padding: 0;
}

.icon {
    display: inline-block;
    position: relative;
}

.icon::before, .icon::after {
    content: "";
    display: block;
    background-color: #161918;
    
}

.menu .icon {
    width: 100%;
    height: 2px;
    background-color: #161918;
}


.menu .icon::before, .menu .icon::after {
    width: 30px;
    height: 2px;
    position: absolute;    
} 

.menu .icon::before {
    top: 7px;
}

.menu .icon::after {
    bottom: 7px;       
    
}


.search .icon {
    width: 15px;
    height: 15px;
    border: 2px solid #161918;
    border-radius: 50%;  
}

.search .icon::after {
    width: 10px;
    height: 2px;
    position: absolute;
    bottom: -3px;
    right: -5px;
    transform: rotate(45deg);
}


.share .icon {
    width: 5px;
    height: 5px;
    background-color: #161918;
    border-radius: 50%;
    display: block;
    /position: absolute;
    /right: 5px;
    
    margin: 5px;
}

.share .icon:first-child {
    /top: 5px;
}



/* */


/* header categories */

.header-categories {
    padding-top: 30px;
}

.header-categories ul {
    display: flex;
    justify-content: center;
}

.header-categories li {
    margin-right: 80px;
}

.header-categories li:last-child {
    margin-right: 0;
}

.header-categories a {
    color: #161918;
    text-decoration: none;
    text-transform: uppercase;
}

.header-categories a:hover{
    text-decoration: underline;
}

/* */


/* </header> */

header {
    outline: 1px solid red;
}

.experiment {
    width: 100px;
    height: 30px;
}

.experiment div {
    display: block;
    width: 10px;
    height: 10px;
    background-color: black;
    margin-bottom: 10px;
}